.hero-section {
  width: 100%;
  background: #f5f5f5;
  font-family: "Poppins", sans-serif;
  height: 450px;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  background: #fff;
  padding: 15px 0;
}

.scroll-track {
  display: flex;
  gap: 20px;
  animation: scroll-left 25s linear infinite;
}

.scroll-track img {
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.product-grid {
  padding: 30px 20px;
  background-color: white;
  border-radius: 8px;
  font-family: 'Dancing Script', cursive; 
}
.product-grid h1{
    text-align: center;
    padding: 5px;
    color: darkolivegreen;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #fafafa;
}

.product-card p {
  font-size: 0.9rem;
  margin: 0;
}
@media (max-width: 576px) {
  .product-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
   .product-card img {
    height: 90px;
    margin-bottom: 6px;
  }
  .product-card {
    padding: 7px;
  }
}